# Eclipse project files
/.classpath
/.project
/.settings/

# Maven build output
/target/

# Log files
*.log



# Eclipse launch configurations
*.launch

# Maven Wrapper jar
.mvn/wrapper/maven-wrapper.jar

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
